.contentBottom .module_customstatic {
  position: relative;
  overflow: hidden;
  margin: 0!important;
}

.custom-static1{
    padding: 40px 0;
}
.custom-static1 .wrapper {
	position: relative;
}

.custom-static1 .wrapper .image{
}

.custom-static1 .wrapper .pull-left {
	position: absolute;
	top: 50%;
}

.custom-static1 h3{color: #fff;}

.custom-static1 li{
        line-height: 25px;
        list-style-type: disc;
        margin-left:12px;
        
}
.custom-static1 li a:hover{text-decoration: none;}
.custom-static1 .custom-links{float: left;}
.custom-static1 .view {
padding-top: 17px;
padding-bottom: 10px;
}
.custom-static1 .view a {
color: #6dced7;
text-transform: uppercase;
}