<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ves_ProductCategories>  
			<version>1.1.0</version>  
		</Ves_ProductCategories>  
	</modules>
	<frontend>
        <routers>
            <productcategories>
                <use>standard</use>
                <args>
                    <module>Ves_ProductCategories</module>
                    <frontName>productcategories</frontName>
                </args>
            </productcategories>
        </routers>
        <translate>
            <modules>
                <Ves_ProductCategories>
                    <files>
                        <default>Ves_ProductCategories.csv</default>
                    </files>
                </Ves_ProductCategories>
            </modules>
        </translate>
        <layout>
            <updates>
                <ves_productcategories>
                    <file>ves_productcategories.xml</file>
                </ves_productcategories>
            </updates>
        </layout>
    </frontend>	
	<global>
		<blocks>
         <ves_productcategories>
            <class>Ves_ProductCategories_Block</class>
         </ves_productcategories>
        </blocks>
        <models>
            <ves_productcategories>
                <class>Ves_ProductCategories_Model</class>
                <resourceModel>ves_productcategories_mysql4</resourceModel>
            </ves_productcategories>
            
        </models>
        <helpers>
            <ves_productcategories>
                <class>Ves_ProductCategories_Helper</class>
            </ves_productcategories>
        </helpers>
        <resources>
            <ves_productcategories>
                <setup>
                    <module>Ves_ProductCategories</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_productcategories>
            <ves_productcategories_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_productcategories_write>
            <ves_productcategories_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_productcategories_read>
        </resources>
	</global>
    <admin>
        <routers>
            <productcategories>
                <use>admin</use>
                <args>
                    <module after="Mage_Adminhtml">Ves_ProductCategories</module>
                    <frontName>productcategories</frontName>
                </args>
            </productcategories>
        </routers>
    </admin>

    <default>
        <ves_productcategories>
            <ves_productcategories>
                <show>1</show>
                <title>SHOP BY CATEGORY</title>
                <prefix>module_customstatic</prefix>
                <limit>3</limit>
                <columns>3</columns>
                <enable_price_cate_parent>1</enable_price_cate_parent>
            </ves_productcategories>
        </ves_productcategories>
    </default>
</config>