<?xml version="1.0"?>
<config>
    <tabs>
        <ves translate="label" module="ves_productcategories">
            <label>Venus Theme</label>
            <sort_order>211</sort_order>
        </ves>
    </tabs>
	<sections>
        <ves_productcategories>
            <label>Ves Product Categories</label>
            <tab>ves</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<ves_productcategories translate="label">
                    <label>General Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<show translate="label" module="core">
							<label>Enabled</label>
							<sort_order>10</sort_order>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show>

                        <title translate="label">
                            <label>Module Title </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <comment>Empty for hide</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>

                        <catsid translate="label">
                            <label>Categories ID: </label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ves_productcategories/system_config_source_listCategories</source_model>
                            <comment>Eg: 22,23. Empty for all categories.</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </catsid> 

                        <prefix translate="label">
                            <label>Prefix Class</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </prefix>

                        <limit translate="label">
                            <label>Limit Results</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </limit>

                        <columns translate="label">
                            <label>Columns</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>75</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </columns>

                        <enable_price_cate_parent translate="label" module="core">
                            <label>Enabled Price Parent Categories </label>
                            <sort_order>80</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_price_cate_parent>
					</fields>
				</ves_productcategories>
				
				<!-- Information -->
				<advanded_parameter>
					<label>Information - Support</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6001</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields> 
						<module_information translate="label">
							<label>Set Module Visable On Pages, Position</label>
							<frontend_type>label</frontend_type>
							<frontend_model>ves_productcategories/system_config_form_field_information</frontend_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</module_information>                        
					</fields>
				</advanded_parameter>	
            </groups>
        </ves_productcategories>
    </sections>    
</config>
