<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ves_ProductCarousel6>  
			<version>1.1.0</version>  
		</Ves_ProductCarousel6>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Ves_ProductCarousel6>
					<files>
						<default>Ves_ProductCarousel6.csv</default>
					</files>
				</Ves_ProductCarousel6>
			</modules>
		</translate>
		<layout>
			<updates>
				<productcarousel6>
					<file>ves_productcarousel6.xml</file>
				</productcarousel6>
			</updates>
		</layout>

	</frontend>	
	<global> 
		<blocks>
            <ves_productcarousel6>
                <class>Ves_ProductCarousel6_Block</class>
            </ves_productcarousel6>
        </blocks>
       <models>
            <ves_productcarousel6>
                <class>Ves_ProductCarousel6_Model</class>
                <resourceModel>ves_productcarousel6_mysql4</resourceModel>
            </ves_productcarousel6>
            
        </models>
        <helpers>
            <ves_productcarousel6>
                <class>Ves_ProductCarousel6_Helper</class>
            </ves_productcarousel6>
        </helpers>
        <resources>
            <ves_productcarousel6_setup>
                <setup>
                    <module>Ves_ProductCarousel6</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_productcarousel6_setup>
            <ves_productcarousel6_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_productcarousel6_write>
            <ves_productcarousel6_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_productcarousel6_read>
        </resources>
	
	</global>  
	<admin>
        <routers>
            <productcarousel6>
                <use>admin</use>
                <args>
                    <module>Ves_ProductCarousel6</module>
                    <frontName>productcarousel6</frontName>
                </args>
            </productcarousel6>
        </routers>
    </admin>
		
	<default>
        <ves_productcarousel6>
            <ves_productcarousel6>
                <show>1</show>    
                <title>Ves Product Carousel6</title>  
				<theme>default</theme>
                <moduleHeight>auto</moduleHeight>
                <moduleWidth>auto</moduleWidth>
				<thumbWidth>260</thumbWidth>                
                <thumbHeight>160</thumbHeight>   
				<source>catalog</source> 
				<thumbnailMode>1</thumbnailMode>  
				<enable_jquery>0</enable_jquery>
				<blockPosition>content</blockPosition>
				<blockDisplay>before</blockDisplay>
				<menuAssignment>Mage_Cms_index</menuAssignment>
				<source>catalog</source>
				<pretext></pretext>
				<cmsblock>0</cmsblock>
				<show_navigator>1</show_navigator>
				<show_pager>1</show_pager>
				<show_title>1</show_title>
				<show_date>0</show_date>
				<show_desc>0</show_desc>
				<show_price>1</show_price>
				<show_pricewithout>1</show_pricewithout>
				<show_addcart>1</show_addcart>
				<show_wc>0</show_wc>
				<review>1</review>
				<enable_quickview>0</enable_quickview>
				<enable_swap>0</enable_swap>
				<enable_sale_icon>1</enable_sale_icon>
				<enable_new_icon>1</enable_new_icon>
			</ves_productcarousel6>
			<catalog_source_setting>
				<catsid>3,6,7,8,9,10,11,12,13,14,16,17,18,19</catsid>
				<sourceProductsMode>latest</sourceProductsMode>
				<limit_item>8</limit_item>		
			</catalog_source_setting>
			
			<file_source_setting>
				<imagecategory></imagecategory>
			</file_source_setting>
			<effect_setting>
				<titleMaxchar>100</titleMaxchar>
				<descMaxchar>100</descMaxchar>
				<auto_play>0</auto_play>
				<interval>600</interval>
				<max_items>4</max_items>
				<limit_cols>4</limit_cols>
				<image_width>300</image_width>
                <image_height>300</image_height>
                <swap_image_number>0</swap_image_number>
                <popup_quickview_width>60%</popup_quickview_width>
                <popup_quickview_height>80%</popup_quickview_height>
			</effect_setting>

        </ves_productcarousel6>
    </default>
</config>  