<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ves_Contentslider>  
			<version>1.1.0</version>  
		</Ves_Contentslider>  
	</modules>
	<frontend>
		 <routers>
            <contentslider>
                <use>standard</use>
                <args>
                    <module>Ves_Contentslider</module>
                    <frontName>vescontentslider</frontName>
                </args>
            </contentslider>
        </routers>
		<translate>
			<modules>
				<Ves_Contentslider>
					<files>
						<default>Ves_Contentslider.csv</default>
					</files>
				</Ves_Contentslider>
			</modules>
		</translate>
		<layout>
			<updates>
				<contentslider module="ves_contentslider">
					<file>ves_contentslider.xml</file>
				</contentslider>
			</updates>
		</layout>
	</frontend>	
	<global>  		     
		<blocks>
            <ves_contentslider>
                <class>Ves_Contentslider_Block</class>
            </ves_contentslider>
        </blocks>
        <models>
            <ves_contentslider>
                <class>Ves_Contentslider_Model</class>
                <resourceModel>ves_contentslider_mysql4</resourceModel>
            </ves_contentslider>
            <ves_contentslider_mysql4>
                <class>Ves_Contentslider_Model_Mysql4</class>
                <entities>
					<banner>
                        <table>ves_contentslider_banner</table>
                    </banner>
					<banner_store>
                        <table>ves_contentslider_banner_store</table>
                    </banner_store>
                </entities>
            </ves_contentslider_mysql4>
        </models>
        <helpers>
            <ves_contentslider>
                <class>Ves_Contentslider_Helper</class>
            </ves_contentslider>
        </helpers>
        <resources>
            <ves_contentslider_setup>
                <setup>
                    <module>Ves_Contentslider</module>
				
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_contentslider_setup>
            <ves_contentslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_contentslider_write>
            <ves_contentslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_contentslider_read>
        </resources>

	</global>  
	<admin>
		<routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ves_Contentslider after="Mage_Adminhtml">Ves_Contentslider</Ves_Contentslider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<default>
        <ves_contentslider>
            <general_setting>
                <show>1</show>    
                <theme>default</theme>
				<resize_quality>80</resize_quality>
			</general_setting>
        </ves_contentslider>
    </default>
</config>  